<h2>Welcome to Your Words!</h2>

<h4>Enter a word and click 'Add Word' to add it to your list of words:</h4>
<form action="/" method="post">
  <div class="form-group">
    <input name="word" id="word" class="form-control"
    type="text">
  </div>
  <button type="submit" class="btn">Add Word!</button>
</form>

<h4>Words:</h4>
<% @list.each do |word| %>
    <h5><%= word.word%></h5>
<% end %>

<form action="/clear" method="post">
  <button type="submit" class="btn">Clear List!</button>
</form>

<h2><%= @blank_field_error %></h2>
